<mat-toolbar color="primary">
  <mat-toolbar-row>
    
  

  <span>Steady Roll</span>
    <span class="example-spacer"></span>
    {{ name }}
    <button (click)="onClick($event) " mat-icon-button aria-label="Example icon button with a open in new tab icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
<!--     <a class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</a>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>