#sidenav-container {
  top: 64px !important;
}
@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}
.form {
  width: 90%;
}
.mat-form-field {
  margin: 4px;
  margin-top: 10px;
  width: 100%;
}
.left{
  position: relative;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;

}
.right{
  border: 1px solid rgb(192, 185, 185);
  border-radius: 1%;
  position: relative; 
  left: 10%;
  right:10%;
  width: 80%;
}
.example-spacer {
  flex: 1 1 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}