<div class="grid-container">
  <button mat-raised-button color="primary" class="mat-raised-button" type="button" [routerLink]="'/admin/admin-users/detail/new'">
    <mat-icon class="icon-spacing">account_circle</mat-icon> Nouveau Utilisateur
  </button>
  <mat-form-field style="margin-left: 4px;" color="basic">
    <mat-label>
      <mat-icon>search</mat-icon>
      Recherche </mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Courriel </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>
    <ng-container matColumnDef="hospital">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hôpital </th>
      <td mat-cell *matCellDef="let user"> {{user.hospitalName}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let user"> {{user.role}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
        <button mat-mini-fab color="primary" class="mat-mini-fab" type="button" [routerLink]="['/admin/admin-users/detail', user._id]">
          <mat-icon role="img" class="mat-icon">edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="mat-mini-fab" type="button" (click)="deleteUser(user._id)">
          <mat-icon role="img" class="mat-icon">delete</mat-icon>
        </button>
        <button *ngIf="!user.active" mat-mini-fab color="primary" class="mat-mini-fab" type="button" (click)="activateUser(user._id)">
          <mat-icon role="img" class="mat-icon">check_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row [routerLink]="['/admin/admin-users/detail', user._id]" *matRowDef="let user; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
