 .mat-form-field {
  width: 80%;
  }
  .bouton {
    width: 40%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
   
    }
    .center {
      margin: auto;
      width: 70%;
      padding: 10px;
     }
 
 .row:after {
  content: "";
  display: table;
  clear: both;
}