<app-header [inputSideNav]="sideNav"></app-header>
<mat-sidenav-container id="sidenav-container" fullscreen>
  <mat-sidenav #sideNav mode="side">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="center">
      <form [formGroup]="articleFrom" class="forme">
        <div>
          <!-- name -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Nom de l'article</mat-label>
              <input formControlName="name" required minlength="4" maxlength="100" matInput />
              <mat-error *ngIf="name"> Nom requis </mat-error>
            </mat-form-field>
          </div>
          <!-- type -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select formControlName="articleType" required>
                <mat-option value="medicament">Médicament</mat-option>
                <mat-option value="equipement">Equipement</mat-option>
                <mat-option value="fourniture">Fourniture</mat-option>
              </mat-select>
              <mat-error *ngIf="type"> Type de l'article requis </mat-error>

            </mat-form-field>
          </div>
          <!-- quantity  -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label> Quantité </mat-label>
              <input formControlName="quantity" required matInput type="number" value="1" min="1" max="900" />
              <mat-error *ngIf="qty"> Quantité requise, valeur max = 999 </mat-error>


            </mat-form-field>
          </div>
          <!-- expirationDate  -->
          <div *ngIf="article.articleType === 'medicament'">
            <mat-form-field appearance="outline">
              <mat-label>Date D'expiration</mat-label>
              <input formControlName="expirationDate" matInput [matDatepicker]="picker" [min]="minDate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint>Date d'expiration doit être supérieur à la date courante d'au moins 1 mois</mat-hint>
              <br>
            </mat-form-field>
          </div>
          <!--   description  -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea formControlName="description" matInput></textarea>
              <mat-error *ngIf="description"> Description requise </mat-error>

            </mat-form-field>
          </div>
          <!--   condition  -->
          <div *ngIf="article.articleType !== 'medicament' ">
            <mat-form-field appearance="outline">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition" required>
                <mat-option value="nouveau">nouveau</mat-option>
                <mat-option value="tresBonEtat">très bon état</mat-option>
                <mat-option value="bon">bon</mat-option>
                <mat-option value="acceptable">acceptable</mat-option>
                <mat-option value="mauvais">mauvais</mat-option>
              </mat-select>
              <mat-error *ngIf="condition"> Condition requise </mat-error>

            </mat-form-field>
          </div>
          <!-- offerType  -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Mode d'échange</mat-label>
              <mat-select formControlName="offerType" required>
                <mat-option value="donner">À donner</mat-option>
                <mat-option value="vendre">À vendre</mat-option>
              </mat-select>
              <mat-error *ngIf="mode"> Mode d'échange requis </mat-error>

            </mat-form-field>
          </div>
          <!-- price  -->
          <div *ngIf="article.offerType === 'vendre'">
            <mat-form-field appearance="outline">
              <mat-label> Prix </mat-label>
              <input formControlName="price" required matInput type="number" value="0" min="0" max="999" />
              <span matPrefix> $ &nbsp; </span>
              <span matSuffix> .00 </span>
              <mat-error *ngIf="article.price"> Prix requis, max = 999$ </mat-error>
            </mat-form-field>
          </div>
          <div class="bouton">
            <button class="btn" style="background-color: #097D6C; color: white; width: 100%;" mat-raised-button
              color="primary" (click)="submit()">Ajouter</button>
          </div>
        </div>

      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
