 
 .grid-container {
  margin: 20px;
}



#sidenav-container {
  top: 64px !important;
}

@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}

 .mat-form-field {
  width: 80%;
  }
  .bouton {
    width: 40%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
   
    }
    .center {
      margin: auto;
      width: 70%;
      padding: 10px;
     }
 
 .row:after {
  content: "";
  display: table;
  clear: both;
}

