.example-spacer {
  flex: 1 1 auto;
}

.grid-container {
  margin: 20px;
  height: 100%;
}



#sidenav-container {
  top: 64px !important;
}

@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}
