<app-header [inputSideNav]="sideNav"></app-header>
<mat-sidenav-container id="sidenav-container" fullscreen>
  <mat-sidenav #sideNav mode="side">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
    <h2 class="mat-h2">&nbsp; {{ article ? article.name :'' }} ( {{ article? article.articleType: ''}} )</h2>
    <mat-divider></mat-divider>
    <br><br>
    <div align="center">
      

    <form [formGroup]="detailForm" class="forme" >
      <div>
        <mat-toolbar-row >
        <!-- name -->
          <mat-form-field appearance="outline">
            <mat-label>Nom de l'article</mat-label>
            <input  style="color: black;" formControlName="name"  minlength="4" maxlength="100" matInput />
          </mat-form-field>
        <!-- type -->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select  formControlName="articleType" >
              <mat-option value="medicament">Médicament</mat-option>
              <mat-option value="equipement">Equipement</mat-option>
              <mat-option value="fourniture">Fourniture</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </mat-toolbar-row >
      <mat-toolbar-row>
         <!--   description  -->
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea style="color: black;" formControlName="description" matInput></textarea>
          </mat-form-field>
      </mat-toolbar-row>
      <mat-toolbar-row >
      <!-- hospital name -->
        <mat-form-field appearance="outline">
          <mat-label>Nom de l'hôpital</mat-label>
          <input style="color: black;" formControlName="hospitalName" minlength="4" maxlength="100" matInput disabled />
        </mat-form-field>
    </mat-toolbar-row>
    <mat-toolbar-row>
         <!--   condition  -->
          <mat-form-field appearance="outline" *ngIf="article.articleType !== 'medicament' ">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition" >
              <mat-option value="nouveau">nouveau</mat-option>
              <mat-option value="tresBonEtat">très bon état</mat-option>
              <mat-option value="bon">bon</mat-option>
              <mat-option value="acceptable">acceptable</mat-option>
              <mat-option value="mauvais">mauvais</mat-option>
            </mat-select>
          </mat-form-field>
          

        <!-- expirationDate  -->
          <mat-form-field style="padding-bottom: 15px;" appearance="outline" *ngIf="article.articleType === 'medicament'">
            <mat-label>Date D'expiration</mat-label>
            <input style="color: black;" formControlName="expirationDate" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <br>
          </mat-form-field>
    </mat-toolbar-row>

      <mat-toolbar-row>
        <!-- quantity  -->
          <mat-form-field appearance="outline">
            <mat-label> Quantité </mat-label>
            <input style="color: black;" formControlName="quantity" matInput type="number" value="1" min="1" max="900" />
          </mat-form-field>
         <!-- offerType  -->
          <mat-form-field appearance="outline">
            <mat-label>Mode d'échange</mat-label>
            <mat-select formControlName="offerType" >
              <mat-option value="donner">À donner</mat-option>
              <mat-option value="vendre">À vendre</mat-option>
            </mat-select>

          </mat-form-field>
        <!-- price  -->
        <div *ngIf="article.offerType === 'vendre'">
          <mat-form-field appearance="outline">
            <mat-label> Prix </mat-label>
            <input style="color: black;" formControlName="price"  matInput type="number" value="0" min="0" max="999" />
            <span matPrefix> $ &nbsp; </span>
            <span matSuffix> .00 </span>
          </mat-form-field>
        </div>
        </mat-toolbar-row>
        
       
       
        <div *ngIf="!isReadOnly">
          <mat-card-actions>
            <button mat-raised-button class="btn" color="primary" >
              <mat-icon class="icon-spacing" (click)="save()">save</mat-icon> Sauvegarder</button>&nbsp;
            <button mat-raised-button [routerLink]="['/articles/all']" class="btn" color="primary"  type="button">
              <mat-icon class="icon-spacing" >cancel</mat-icon> Annuler</button>&nbsp;
            <button (click)="delet()" mat-raised-button class="btn" color="primary"  type="button">
              <mat-icon class="icon-spacing" >delete</mat-icon> Supprimer</button>
          </mat-card-actions>
          <br><br>
        </div>

        <div class="bouton" *ngIf="isReadOnly">
          <button class="btn" style="background-color: #097D6C; color: white; width: 100%;" mat-raised-button
            color="primary">Ajouter</button>
        </div>
      </div>

    </form>


    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

