
 .center {
  margin: auto;
  width: 80%;
  padding: 10px;
 }
 .example-spacer {
  flex: 1 1 auto;
}
 .col-25 {
  text-align: right;
   padding-top: 6px;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  margin-left: 10px;
  padding-top: 6px;
  float: left;
  width: 60%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}