<app-header></app-header>
<br>
<h2 class="mat-h2">&nbsp; {{ article.name }} ( {{article.articleType}} )</h2>
<mat-divider></mat-divider>


<form [formGroup]="detailForm" >
<div class="center">
  <!-- name -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Nom de l'article:&nbsp; </mat-label>
    </div>
    <div class="col-75">
      {{ article.name}}
    </div>
  </div>
  <!-- type -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Type:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      {{ article.articleType}}
    </div>
  </div>
  <!-- quantity  -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Quantité:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      {{ article.quantity}}
    </div>
  </div>
  <!-- expirationDate  -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Date D'expiration:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      {{ article.expirationDate}}
    </div>
  </div>
  
  
  <!-- hospitalName  -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Nom de l'hospitale:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      {{ article.hospitalName}}
    </div>
  </div>
  <!--   description  -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Description:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      {{ article.description}}
    </div>
  </div>
 
  <!--   condition  -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Condition:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      {{ article.condition}}
    </div>
  </div>
  <!-- offerType  -->
  <div class="row">
    <div class="col-25">
      <mat-label class="label">Mode d'échange:&nbsp;</mat-label>
    </div>
    <div class="col-75">
      <div *ngIf="article.offerType==='donner'">
          {{ article.offerType}}
      </div>
      <div *ngIf="article.offerType==='vendre'">
        {{ article.offerType }} prix : {{ article.price}}
        <span matPrefix> $ &nbsp; </span>
      <span matSuffix> .00 </span>
      </div>
      
    </div>
  </div>
  <!-- <div style=" margin-top: 20px;">
    <mat-radio-group formControlName="offerType" >
      <mat-radio-button value="donner" > A donner </mat-radio-button>
      <mat-radio-button value="vendre"> A vendre </mat-radio-button>
    </mat-radio-group>
  </div> -->
  <!-- price  -->
  <div *ngIf = "article.offerType === 'vendre'">    
    <mat-form-field appearance="outline">
      <mat-label> Prix </mat-label>
      <input formControlName="price" required matInput type="number" value="0" min="0"/>
      
    </mat-form-field>
  </div>
  
  
</div>
</form>