.grid-container {
  margin: 20px;
}
#sidenav-container {
  top: 64px !important;
}
@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}
.forme {
  width: 80%;
}
  .mat-form-field{
    margin:2px;
    margin-top:10px;
    margin-bottom: 20px;
    width:100%;
  }
  .mat-toolbar-row{
    margin-bottom: 15px;
  }
 
 .bouton {
  width: 40%;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5%;
  }

 .example-spacer {
  flex: 1 1 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}