.grid-container {
  margin: 20px;
}


#sidenav-container {
  top: 64px !important;
}

@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}

  .mat-form-field{
    width: 80%;
  }
  .center {
  margin: auto;
  width: 70%;
  padding: 10px;
 }
 .bouton {
  text-align: center;
  margin: 20px;
  }

 .example-spacer {
  flex: 1 1 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
 }

 .icon-spacing {
   margin-right: 10px;
 }
