.grid-container {
  margin: 20px;
}



#sidenav-container {
  top: 64px !important;
}

@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}

.mat-icon {
  padding-right: 10px;
}
