<div class="grid-container">
  <div class="card card-container">

    <div class="form-title">
      <mat-card-title *ngIf="user._id">Utilisateur</mat-card-title>
      <mat-card-title *ngIf="!user._id">Nouveau Utilisateur</mat-card-title>
    </div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td colspan="2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Hôpital</mat-label>
              <mat-select [(ngModel)]="user.hospitalId" #hospitalId="ngModel" name="hospitalId" required>
                <mat-option *ngFor="let hospital of hospitals" [value]="hospital._id">
                  {{hospital.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="left-field">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput [(ngModel)]="user.name" #name="ngModel" placeholder="Nom Complet" name="name" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Téléphone</mat-label>
              <input matInput [(ngModel)]="user.phone" #phone="ngModel" placeholder="(514) 456-8517" name="phone"
              mask="(000) 000-0000" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="left-field">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="user.email" #email="ngModel" placeholder="Email" name="email"
              email required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Mote de passe</mat-label>
              <input [(ngModel)]="user.password" matInput type="password" placeholder="Mot de passe"
              minlength="6" name="password" #password="ngModel" required>
              <mat-hint>Minimum 6 caractères</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="left-field">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select [(ngModel)]="user.role" #hospital="ngModel" name="role" required>
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-slide-toggle color="primary" [(ngModel)]="user.active" #active="ngModel" name="active" labelPosition="before">
              Active
            </mat-slide-toggle>
          </td>
        </tr>
      </table>

      <div class="text-right-aligned">
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!userForm.form.valid">
            <mat-icon class="icon-spacing">save</mat-icon> Sauvegarder</button>
          <button mat-raised-button color="primary" [routerLink]="['/admin/admin-users']" type="button">
            <mat-icon class="icon-spacing">cancel</mat-icon> Annuler</button>
          <button *ngIf="user._id" mat-raised-button color="primary" (click)="deleteUser()" type="button">
            <mat-icon class="icon-spacing">delete</mat-icon> Supprimer</button>
        </mat-card-actions>
      </div>
      <mat-error *ngIf="userForm.submitted && isSaveFailed">
        Erreur en sauvegardant!: {{ errorMessage }}
      </mat-error>

    </form>
  </div>
</div>
