<div class="example-container mat-elevation-z8">
  <h2>Modifier Utilisateur</h2>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
      <a mat-flat-button color="primary" (click)="userDetails()"><mat-icon>info</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width" formGroupName="user">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom" formControlName="name"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!userForm.get('user.name').valid && userForm.get('user.name').touched">Nom est requis</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of rolesList" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!userForm.get('role').valid && userForm.get('role').touched">Role est requis</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" formGroupName="user">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!userForm.get('user.email').valid && userForm.get('user.email').touched">Email est requis</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!userForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
