.tab1 {
  width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-row{
  cursor: pointer
}
tr.mat-row:hover {
  background-color:whitesmoke;
  font-style: bold;
  color: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-name {
  width: 20% !important;
}



.mat-column-hospitalName {
  padding-left: 10px;
  width: 30% !important;
}
.mat-column-description {
  padding-left: 10px;
  padding-right: 10px;
}
.mat-column-type {
  padding-left: 10px;
  width: 15% !important;
}

.grid-container {
  margin: 20px;
}
