<app-header></app-header>
<br>
<br>
<form [formGroup]="userForm">
  <div>
    <!-- name -->
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input formControlName="name" required maxlength="20" matInput />
        <mat-hint align="end">Taille max:20</mat-hint>
      </mat-form-field>
    </div>
    <div class="bouton">
      <button class="btn" style="background-color: #097D6C; color: white; width: 100%;" mat-raised-button
        color="primary" (click)="submit()">Ajouter</button>
    </div>
  </div>

</form>
