<mat-toolbar-row>
      <mat-icon mat-list-icon>medical_services</mat-icon>&nbsp;
      <div>
        <div  mat-line style="color: darkseagreen;">{{line.name}}</div>
        <div mat-line> {{line.hospitalName}} </div>
        <div mat-line *ngIf="line.expirationDate"> valide jusqu'à {{line.expirationDate | date}} </div>
        <div style="color:red;" mat-line *ngIf="line.quantity == 0">  Cet item n'est plus disponible </div>
      </div>
      <span class="example-spacer"></span>

      <div >
        <form align="right" [formGroup]="myFrom" >
          <mat-form-field style="width: 15%;" appearance="outline">
            <mat-label>Prix</mat-label>
            <input step ="0.01" style="color: black;" matInput formControlName="price" disabled [value]="line.price"  type="number" />
            <span matPrefix> $ &nbsp; </span>
            <!-- <span matSuffix> .00 </span> -->
          </mat-form-field>
          &nbsp;
          <mat-form-field style="width: 15%;" appearance="outline">
            <mat-label> Quantité </mat-label>
            <input  matInput formControlName="quantity" type="number" min="1" max="{{line.quantity}}"/>
          </mat-form-field>
          &nbsp;
          <mat-form-field style="width: 15%;" appearance="outline">
            <mat-label>Sous-total</mat-label>
            <input  step ="0.01" style="color: black" matInput formControlName="total" type="number" />
            <span matPrefix> $ &nbsp; </span>
           <!-- <span matSuffix> .00 </span> -->
          </mat-form-field>
          <button  mat-icon-button >
            <mat-icon style="color: #097D6C;" (click)="removeArticle(line._id)">cancel</mat-icon>
          </button>
        </form>
      </div>
    </mat-toolbar-row>


