    <mat-toolbar-row>
      <mat-icon mat-list-icon>medical_services</mat-icon>
      <div>
        <div  mat-line style="color: darkseagreen;">{{line.name}}</div>
        <div mat-line> {{line.hospitalName}} </div>
        <div mat-line *ngIf="line.expirationDate"> valide jusqu'à {{line.expirationDate | date}} </div>
      </div>
      <span class="example-spacer"></span>

      <div >
        <form [formGroup]="myFrom" >
          <mat-form-field appearance="outline">
            <mat-label>Prix</mat-label>
            <input style="color: black;" matInput formControlName="price" disabled [value]="line.price"  type="number" />
            <span matPrefix> $ &nbsp; </span>
            <!-- <span matSuffix> .00 </span> -->
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="outline">
            <mat-label> Quantité </mat-label>
            <input  matInput formControlName="quantity" type="number" min="1" max="{{line.quantity}}"/>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Sous-total</mat-label>
            <input style="color: black;" matInput formControlName="total" type="number" />
            <span matPrefix> $ &nbsp; </span>
          <span matSuffix> .00 </span>
          </mat-form-field>
          <button  mat-icon-button >
            <mat-icon style="color: #097D6C;" (click)="removeArticle()">cancel</mat-icon>
          </button>
        </form>
      </div>


