  <mat-nav-list>

    <ng-container *ngIf="navLinks">

      <h2 matSubheader> Navigation </h2>

      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a *ngFor="let item of navLinks"
         mat-list-item
         [routerLink]="[item.link]"
         routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
        <span class="nav-list-label">{{item.label}}</span>
      </a>

    </ng-container>

    <ng-container *ngIf="navAdminLinks">

      <h2 matSubheader> Administration </h2>

      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a *ngFor="let item of navAdminLinks"
         mat-list-item
         [routerLink]="[item.link]"
         routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
        <span class="nav-list-label">{{item.label}}</span>
      </a>
      <a
         mat-list-item [routerLink]="'/my-profile'" routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon"> account_circle </mat-icon>
        <span class="nav-list-label">Mon Profil</span>
      </a>

    </ng-container>

    <mat-divider></mat-divider>

    <a
         mat-list-item
         (click)="logout()">
        <mat-icon matListIcon class="nav-list-icon"> power_settings_new </mat-icon>
        <span class="nav-list-label">Se déconnecter</span>
      </a>


  </mat-nav-list>
