.grid-container {
  margin: 20px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  min-width: 150px;
  max-width: 750px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.centered-text {
  text-align: center;
}

.left-field {
  padding-right: 20px;
}

.text-right-aligned {
  text-align: right;
}

.mat-raised-button {
  margin-right: 15px;
}
