.btn {
  background: #097d6c;
  color: white;
  height: 45px;
}
html, body {
  margin: 1px;
  height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon-spacing {
  margin-right: 5px;
}

.form-title {
  margin: 0 0 10px 0;
}
