.btn {
  background: #097d6c;
  color: white;
  height: 45px;
}
html, body {
  margin: 1px;
  height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon-spacing {
  margin-right: 5px;
}

.form-title {
  margin: 0 0 10px 0;
}

#sidenav-container {
  top: 64px !important;
}

@media(max-width: 599px) {
  #sidenav-container {
    top: 56px !important;
  }
}

.style-success {
  color: whitesmoke;
  background-color: blueviolet;
}
.style-success .mat-simple-snackbar-action  {
  color: wheat;
}
.style-error {
  color: whitesmoke;
  background-color: red;
}
.style-error .mat-simple-snackbar-action {
  color: white;
}

.text-right-aligned {
  text-align: right;
}

.text-left-aligned {
  text-align: left;
}
