/* You can add global styles to this file, and also import other style files */
 @import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*  @import '~ngx-toastr/toastr';
 */  
.btn {
  background: #097d6c;
  color: white;
  height: 45px;
}
html, body { 
  margin: 1px; 
  height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
