<app-header [inputSideNav]="sideNav"></app-header>
<mat-sidenav-container id="sidenav-container" fullscreen>
  <mat-sidenav #sideNav mode="side">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid-container">
    <mat-carousel id="carousel-home" timings="2000ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="#097D6C"
  maxWidth="auto"
  proportion="25"
  slides="7"
  maintainAspectRatio="false"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr">
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false" ></mat-carousel-slide></mat-carousel>
    <div id="text-home">
      <p>Envie de faire votre part pour l’environnement? Pensez à mieux consommer!</p>

<p>Plusieurs appareils et outils médicaux inutilisés ou pratiquement neufs se retrouvent régulièrement dans les conteneurs à
déchets et les chiffres alarmants sur la pollution que ça génère continuent à se multiplier.</p>
<p>Mais, ensemble on arrivera à donner une seconde vie à ce grand nombre d'équipements, fournitures et médicaments.</p>
<p>Notre but est de créer une connectivité et une interconnexion entre les hôpitaux afin qu'ils puissent échanger, vendre ou acheter tout ce qu'on allait jeter aux poubelles.</p>
<p>Chaque fois qu’on jette un déchet, on jette un morceau de la planète! Donc, partageons nos surplus et préservons l’environnement!</p>
    </div>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
