<app-header></app-header>
<br>
<br>
<!--    -->
<h2 class="mat-h2">&nbsp;Accueil</h2>
<mat-divider></mat-divider>
  <!-- ajouter -->
<mat-toolbar-row> 
  <span class="example-spacer"></span>
  <button style="background-color: #097D6C; color: white;" mat-raised-button color="primary" [routerLink]="'/add-article'" >Ajouter un article</button>
</mat-toolbar-row>
<!--    -->
  <h2 class="mat-h2">&nbsp;Articles</h2>
  <mat-divider></mat-divider>
  <br>
<app-article-list></app-article-list>

<!-- <div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  
<mat-toolbar class="search-block mat-elevation-z4" [(ngModel)]="toggleSearch">
		<mat-toolbar-row style="padding: 0 5px;">
			<button class="search-icon" mat-icon-button disabled>
        <mat-icon>search </mat-icon>
      </button>
      <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" s>
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button> 
  </mat-toolbar-row>
  </mat-toolbar>

</div> -->
<!-- liste des articles   
<app-article-list></app-article-list>  -->




